body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #344c84, #e7f1fe);
    font-family: Arial, sans-serif;
    color: white;
}

#fadeImage {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    width: 20%; /* Keep the 70% reduction */
    display: block;
    margin: 280px auto 20px; /* Ensures spacing between image and boxes */
}

.box {
    width: 10px;
    height: 20px;
    background-color: white;
    margin: 15px auto; /* Ensures vertical spacing */
    opacity: 0;
    box-shadow: 0 0 10px #cfe3fc;
    position: relative;
}
